{
 "input":
    [{
      "driver":"pcf8574",
      "kwargs":
       {
        "addr":"0x3f",
        "int_pin":4
       }
    }],
 "output":
    [{
      "driver":"pcf8574",
      "kwargs":
      {
        "addr":"0x27"
      }
    }]
}
