[Unit]
Description=Python-based Linux Control System

[Service]
User=root
Group=root
PIDFile=/run/lcs.pid
ExecStart=/opt/lcs/main.py 
WorkingDirectory=/opt/lcs

[Install]
WantedBy=graphical.target
