[Unit]
Description=Python-based Linux Control Interface

[Service]
User=root
Group=root
PIDFile=/run/pylci.pid
ExecStart=/opt/pylci/main.py 
WorkingDirectory=/opt/pylci
Restart=always

[Install]
WantedBy=graphical.target
