[Unit]
Description=Wearable Control System

[Service]
User=wearable
Group=wearable
PIDFile=/run/wcs.pid
ExecStart=/home/wearable/WCS/main.py 
WorkingDirectory=/home/wearable/WCS

[Install]
WantedBy=graphical.target
