[Unit]
Description=Wearable Control System

[Service]
User=pi
Group=pi
PIDFile=/run/wcs.pid
ExecStart=/home/pi/WCS/main.py 
WorkingDirectory=/home/pi/WCS

[Install]
WantedBy=graphical.target
